<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Server=127.0.0.1;Database=asterisk;Uid=root;Pwd=*e77@+G0b102" 
         providerName="MySql.Data.MySqlClient"
    />
  </connectionStrings>
</configuration>
